.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.search {
    color: #656EC2;
    fonr: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    letter-spacing: 0;
}
.primary {
    fonr: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;

}
.additional {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0;

}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
