
  .view {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .data {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .textBlock {
    overflow-y: hidden;
    max-height: 200px;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    overflow: hidden;
    width: 115px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .views {
    margin-left: auto;
  }


  .title p {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .CardList {
    display: flex;
    flex-wrap: wrap;
  }

